.divBtnAdd {
    display: flex;
    align-items: center;
    justify-content: center;
}

.divImg {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.divMargin {
    margin-top: 40px;
}